{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
<div class="detalle-container">
	<div class="submenu width-50">
		<h1 style="display: block;">Detalle de <span>{{noticia.titulo}}</span></h1>
		<div class="form">
			<img src="{{noticia.imagen.url}}" width="500" height="500">
			<p><span>TITULO:</span> {{noticia.titulo}}</p>
			<p><span>FECHA:</span> {{noticia.fecha}}</p>
			<p><span>CATEGORIA:</span> {{noticia.categoria_noticia}}</p>
			<p><span>CUERPO:</span> {{noticia.cuerpo}}</p>
		</div>
		<div class="form">
			<h4>COMENTAR</h4>
			<form method="POST" action="{% url 'noticias:comentar' %}">{% csrf_token %}
				<textarea name="comentario" maxlength="1500"> </textarea>
				<input type="text" name="id_noticia" value="{{noticia.pk}}" hidden="">
				<button type="submit" value="GUARDAR">ENVIAR</button>
			</form>
		</div>
	</div>
	<div class="submenu width-50">
		<h1>Comentarios</h1>
		{% for com in comentarios %}
		<div class="form">
			<p><span>{{com.texto}}</span></p>
			<strong>FECHA:{{com.fecha}}</strong><br>
			<strong>USUARIO:{{com.usuario}}</strong><br>
			{% if user == com.usuario %}
			<form method="POST" action="{% url 'noticias:eliminar_comentario' com.pk%}" >
				{% csrf_token %}
				<button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?');">ELIMINAR</button>
			</form>
			{% endif %}
		</div>
		{% endfor %}
		<a href="{% url 'noticias:listar' %}" class="boton">VOLVER</a>
	</div>
</div>
{% endblock contenido %}

