{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}

{% block contenido %}
<div class="submenu">
    <h1>NUESTRAS <span>NOTICIAS</span></h1>
    <div class="navbar">
        <a href="{% url 'noticias:listar' %}">TODAS</a>
        {% for cat in categorias %}
		<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
        {% endfor %}
        <a href="{% url 'noticias:crear_noticia' %}">Crear Noticia</a>
    </div>
</div>


<div class="card-container">
	{% for noti in noticias %}
    <div class="card">
        <img src="{{noti.imagen.url}}" />
        <p>
            <a href="{% url 'noticias:detalle' noti.pk %}"><span>TITULO:</span> {{noti.titulo}}</a>
        </p>
        <p><span>FECHA:</span> {{noti.fecha}}</p>
        <p><span>CATEGORIA:</span> {{noti.categoria_noticia}}</p>
        <p><span>CUERPO:</span> {{noti.cuerpo}}</p>
        <p>
            <a href="{% url 'usuarios:perfil' noti.usuario.pk %}"><span>AUTOR:</span> {{noti.usuario}}</a>
        </p>

        {% if user.is_authenticated and user == noti.usuario %}
            <form action="{% url 'noticias:eliminar' noti.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="delete-button" onclick="return confirm('¿Estás seguro de que deseas eliminar esta noticia?')">X</button>
            </form>
        {% endif %}
        {% if user.is_authenticated %}
            <form action="{% url 'noticias:denunciar' noti.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="delete-button" onclick="return confirm('¿Estás seguro de que deseas denunciar esta noticia?')">Denunciar</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock contenido %}

