{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil de {{ user.username }}{% endblock %}
{% block contenido %}
<div class="submenu">
    <div class="form">
    <h1>Perfil de <span>{{ user.username }}</span></h1>
        <p><span>Nombre:</span> {{ user.first_name }}</p>
        <p><span>Apellido:</span> {{ user.last_name }}</p>
        <p><span>Nombre de Usuario:</span> {{ user.username }}</p>
        <p><span>Email:</span> {{ user.email }}</p>
    </div>
    <a href="{% url 'noticias:listar' %}" class="boton">VOLVER</a>
</div>
{% endblock contenido %}