.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}

.card {
    position: relative;
    text-align: center;
	margin: 0 auto;
	background-color: #faebd7;
	width: 300px;
	padding: 16px;
	border: 1px solid #000;
	border-radius: 8px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 3px;
}

img {
	margin: 0 15%;
	border-radius: 8px;
	width: 200px;
	height: 200px;
}

p{
	font-family: "Poppins", sans-serif;
	justify-content: flex-start;
}

span{
	font-weight: bold;
	background-color: rgb(220, 200, 200);
	padding: 4px;
	border-radius: 6px;
}
