.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
}

.card {
	margin: 0 auto;
	background-color: var(--text-color);
	width: 300px;
	padding: 16px;
	border: 1px solid #000;
	border-radius: 8px;
    
}

.delete-button {
    background-color: rgb(232, 53, 53);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 3px;
}

img {
	margin: 0 15%;
	border-radius: 8px;
	width: 200px;
	height: 200px;
}

.card p {
    display:flex;
	font-family: "Poppins", sans-serif;
    align-items: flex-start;
    text-align: left;
    color: #000;
    margin-bottom: 20px;
}
