h1 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

h3 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}

h4 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
}

.submenu {
    justify-content: center;
    text-align: center;
}