{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>IABlogs. {% block titulo %}{% endblock titulo %}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/submenu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
</head>

<header class="header">
	<a href="{% url 'noticias:listar' %}" class="logo">IABlogs.</a>
	<nav class="navbar">
		<a href="{% url 'nosotros' %}">NOSOTROS</a>
		<a href="{% url 'noticias:listar' %}">NOTICIAS</a>
		{% if user.is_authenticated %}
			<strong style="margin-right: 0;">HOLA {{ user.username|upper }}</strong>
			<a href="{% url 'logout' %}">LOGOUT</a>
		{% else %}
			<a href="{% url 'login' %}">LOGIN</a>
			<a href="{% url 'usuarios:registro' %}">REGISTER</a>
		{% endif %}
	</nav>
</header>

<body class="section">
	{% block contenido %}

	{% endblock contenido %}
</body>
</html>
