{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Blogs {% block titulo %}{% endblock titulo %}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
	<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>


<body class="contenedor">

	<div class="centrar">
		<a href="{% url 'home' %}">BLOGS.</a>
		<a href="{% url 'nosotros' %}">NOSOTROS</a>
		<a href="{% url 'noticias:listar' %}">NOTICIAS</a>

		{% if user.is_authenticated %}
			<strong>Hola {{ user.username }}</strong>
			<a href="{% url 'logout' %}">LOGOUT</a>
		{% else %}
			<a href="{% url 'login' %}">LOGIN</a>
			<a href="{% url 'usuarios:registro' %}">Registrar</a>
		{% endif %}
		
		

	</div>

	<div class="bloque">
	{% block contenido %}
	
	{% endblock contenido %}
	</div>
</body>
</html>
