{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
<div class="submenu">
	<h1>NOSOTROS</h1>
	<p>Hola! somos <span>CodeCollaborators</span> y hoy te presentamos las increíbles funcionalidades de nuestro blog de noticias sobre la aplicación y uso de IA en distintas áreas como; Educación, Finanzas, Meteorología, Tecnología y Avances De La IA  <span>.</span></p>
	<p>Puedes publicar y editar <span>noticias</span> fácilmente. Nuestro Sitio cuenta con un formulario para crear contenido y subir imágenes.
		<br> La gestión de usuarios es sencilla: permite registro, login y perfiles personalizados con roles específicos.</br> </span></span>
		Navegá por nuestro menú principal y enterate Más! <span>.</span></p>
	<p>Visita nuestro blog y descubrí todo lo que tenemos para ofrecerte. <span>¡No te lo pierdas!</span></p>
</div>
{% endblock contenido %}

